<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"> Categorias </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="ion-padding">
    <ion-row>
      <ion-col  size="12">
        <ion-img src="../../assets/moda.jpg" alt=""></ion-img>
        <h5>MODA</h5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col  size="6">
        <ion-img src="../../assets/recetas.jpg" alt=""></ion-img>
        <H5>RECETAS</H5>
      </ion-col>
      <ion-col  size="6">
        <ion-img src="../../assets/turismo.jpg" alt=""></ion-img>
        <H5>TURISMO</H5>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col  size="12">
        <ion-img src="../../assets/tecnologia.jpg" alt=""></ion-img>
        <H5>TECNOLOGIA</H5>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
